<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css" type="text/css">
    <script src="https://kit.fontawesome.com/7f8d124c50.js" crossorigin="anonymous"></script>

    <title>Lucas Blog</title>
</head>

<body>
    <h1>Welcome to Lucas' Blog</h1>
    <h2>Everything about Everything</h2>
    <div class="containerButtonNew">
        <a class="buttonNew" href="/articles/new">New Article</a>
    </div>

    <div class="containerArticles">
        <% articles.forEach(article => { %>

        <div class="containerArticle">
            <br>
            <a class="titleClickable" href="articles/<%= article.id %>"><%= article.title%></a>
            <h5>Author: <%= article.author %> </h5>
            <h6>Date: <%= article.createdAt.toLocaleDateString() %> </h6>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= article.text %></p>
            <div class="containerLikes">
                <button type="submit"><i class="far fa-thumbs-up"></i></button>
                <button><i class="far fa-thumbs-down"></i></button>
            </div>
            <a id="editButton" href="articles/edit/<%= article.id %> ">Edit</a>
            <div class="containerDelete">
                <form action="/articles/<%= article.id %>?_method=DELETE" method="POST">
                    <button type="submit"><i class="fas fa-trash-alt"></i></button>
                </form>
            </div>
        </div>
        <br>
        <% }) %>
    </div>

</body>

</html>